div(id="about")
        div.container
            div.row
                div(class="col-md-6 col-sm-6 wow fadeInLeft", data-wow-delay="0.9s")
                    h3 Webmanics Solutions
                    h4 Smart, Light and Adaptive
                    p We meet industry standards for security with adaptable and flexible bespoke solutions. Our specialist expertise in bridging the gap between your on premise solutions and your cloud provided solutions.
                    p Our IoT approach can ensure that your IT team can easily manage the interface, no matter where they are in the world and the solution can grow with your needs.
                    p With the flexibility of providing custom solutions, we are not tied into some of the restrictions that the large software houses have to implement features especially for you.
				
                div(class="col-md-6 col-sm-6 wow fadeInRight", data-wow-delay="0.9s")
                    span(class="text-top") Flexibility
                        small 100%
                    div.progress
                        div(class="progress-bar progress-bar-danger", role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 100%;")
 						
                    span Web based solutions 
                        small 30%
                    div.progress
                        div(class="progress-bar progress-bar-danger", role="progressbar", aria-valuenow="80", aria-valuemin="0", aria-valuemax="100", style="width: 30%;")
					
                    span On Premise Solutions
                        small 15%
                    div.progress
                        div(class="progress-bar progress-bar-danger", role="progressbar", aria-valuenow="90", aria-valuemin="0", aria-valuemax="100", style="width: 15%;")
						
                    span Hybrid Solutions
                        small 55%
                    div.progress
                        div(class="progress-bar progress-bar-danger", role="progressbar", aria-valuenow="70", aria-valuemin="0", aria-valuemax="100", style="width: 55%;")