footer
    div(class="container")
        div(class="row")
            div(class="col-md-8 col-sm-7")
                p Copyright &copy; 2018 Solution Company
                    small Designed by 
                        a(rel="nofollow" href="http://www.webmanics.com" target="_parent") Tooplate
				
            div(class="col-md-4 col-sm-5")
                ul(class="social-icon")
                    li
                        a(href="#", class="fa fa-facebook")
                    li
                        a(href="#", class="fa fa-twitter")
                    li
                        a(href="#", class="fa fa-instagram")
                    li
                        a(href="#", class="fa fa-pinterest")
                    li
                        a(href="#", class="fa fa-google")
                    li
                        a(href="#", class="fa fa-github")
