doctype html
html
  head
    title Webmanics
    
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords" content="")
    meta(name="description", content="")

    link(rel="stylesheet" href="css/animate.min.css" type="text/css")
    link(rel="stylesheet" href="css/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="css/font-awesome.min.css" type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Raleway:400,300,700,800" rel="stylesheet" type="text/css")
    link(rel='stylesheet' href='css/style.css' type='text/css') 
    link(rel="stylesheet" href='css/modal.css' type='text/css')  