section(id="home", class="text-centre")
        div.templatemo_headerimage
            div.flexslider 
                ul.slides
                    li
                        img(src="images/slider/1.jpg", alt="slide 1")
                        div.slider-caption 
                            div.templatemo_homewrapper
                                h1(class="wow fadeInDown" data-wow-delay="2000") Webmanics Web
                                h2(class="wow fadeInDown" data-wow-delay="2000")
                                    span WE DESIGN AND CODE WEBSITES
                                a(href="#service", class="smoothScroll btn btn-default wow fadeInDown", data-wow-delay="2000") Our Work
                    li
                        img(src="images/slider/2.jpg", alt="slide 1")
                        div.slider-caption 
                            div.templatemo_homewrapper
                                h1(class="wow fadeInDown" data-wow-delay="2000") Webmanics Software
                                h2(class="wow fadeInDown" data-wow-delay="2000")
                                    span Custom software for your needs
                                a(href="#service", class="smoothScroll btn btn-default wow fadeInDown", data-wow-delay="2000") Our Work
                    li
                        img(src="images/slider/1.jpg", alt="slide 3")
                        div.slider-caption 
                            div.templatemo_homewrapper
                                h1(class="wow fadeInDown" data-wow-delay="2000") Webmanics Consulting
                                h2(class="wow fadeInDown" data-wow-delay="2000")
                                    span Experienced Professional Consultants
                                a(href="#service", class="smoothScroll btn btn-default wow fadeInDown", data-wow-delay="2000") Our Work