div(id="initialjs" class="modal")
    div(class="modal-content")
        span(class="close") Cancel
        h1 Initial Consult $800 AUD
        p You will now be taken to the Paypal site for payment.
        a(href="#pricing" class="cancelbutton") Cancel
        a(href="/buy" class="paynowbutton") Pay Now