body(data-spy="scroll", data-offeset="50" data-target="navbar-collapse")
    div(class="navbar navbar-fixed-top navbar-default", role="navigation")
        div.container 
            div.navbar-header
                button.navbar-toggle(data-toggle="collapse" data-target=".navbar-collapse")
                    span.icon.icon-bar
                    span.icon.icon-bar
                    span.icon.icon-bar
                a(class='navbar.brand', href="#")
                    img.img-responsive(src="./images/logo.png", alt="logo")
            div(class="collapse navbar-collapse")
                ul(class="nav navbar-nav navbar-right")
                    li
                        a(href="http://localhost:3000/#home", class="smoothScroll") HOME
                    li
                        a(href="http://localhost:3000/#service", class="smoothScroll") SERVICE
                    li
                        a(href="http://localhost:3000/#about", class="smoothScroll") ABOUT
                    li
                        a(href="http://localhost:3000/#team", class="smoothScroll") TEAM
                    li
                        a(href="http://localhost:3000/#pricing", class="smoothScroll") PRICING                   
                    li
                        a(href="http://localhost:3000/#contact", class="smoothScroll") CONTACT                 

    <!-- End Navigation -->