div(id="pricing", class="text-center")
        div.container
            div.row
                div(class="col-md-12 wow bounce")
                    h2 Our Pricing
                div(class="col-sm-6 col-md-3 wow fadeInLeft", data-wow-delay="0.6s")
                    div(class="plan plan_one")
                        h4(class="plan_title") Initial Consult
                        ul
                            li Review your requirement
                            li Advise on solutions available
                            li Review current Solutions
                            li Review Staff practices
                            li Provide a summation document
                        p $799.00 AUD
                        button(class="btn btn-warning", id="initial") SIGN UP

                div(class="col-sm-6 col-md-3 wow fadeInUp", data-wow-delay="0.9s")
                    div(class="plan plan_two")
                        h4(class="plan_title") Micro Business
                        p 1-3 users
                        ul
                            li $100 Per month
                            li Initial Consult
                            li Google Docs Setup
                            li Basic Website - Single Page
                            li User Training Session
                            li 1 day response 
                        p Setup $2999 AUD
							
                        button(class="btn btn-warning") SIGN UP
				
                div(class="col-sm-6 col-md-3 wow fadeInDown", data-wow-delay="1s")
                    div(class="plan plan_three")
                        h4(class="plan_title") Small Business
                        p 4 users, each additional $20 per month
                        ul 
                            li $150 per month
                            li Initial Consult
                            li Cloud Based solution setup
                            li Up to 5 page website
                            li 6 monthly review
                            li 4-hr response
                        p Setup $8999    
                        button(class="btn btn-warning") SIGN UP

                div(class="col-sm-6 col-md-3 wow fadeInRight", data-wow-delay="1.3s")
                    div(class="plan plan_four")
                        h4(class="plan_title") Large Business
                        ul
                            li Price determined by requirements
                            li Full Analysis
                            li Full Solution Design
                            li Website quoted as required
                            li quarterly review
                            li SLA to be determined
                        p Intitial Consult from $6000	
                        button(class="btn btn-warning") SIGN UP

