script
    include js/jquery.js
    include js/bootstrap.min.js
    include js/isotope.js
    include js/imagesloaded.min.js
    include js/wow.min.js
    include js/smoothscroll.js
    include js/jquery.flexslider.js
    include js/custom.js
    include js/paypal.js
