div(id="service")
        div.container
            div.row
                div(class="col-md-4 col-sm-4")
                    div.media
                        div(class="media-object media-left wow fadeIn", data-wow-delay="0.1s")
                            i(class="fa fa-laptop")
                        div(class="media-body wow fadeIn")
                            h3.media-heading Responsive Websites
                            p Our solutions utilise industry leading technologies for your business.

                div(class="col-md-4 col-sm-4")
                    div.media
                        div(class="media-object media-left wow fadeIn" data-wow-delay="0.3s")
                            i(class="fa fa-cog")
					
                        div(class="media-body wow fadeIn")
                            h3(class="media-heading") Customized Integrations
                            p Talk to us about how we integrate your products together.

                div(class="col-md-4 col-sm-4")
                    div.media
                        div(class="media-object media-left wow fadeIn" data-wow-delay="0.6s")
                            i(class="fa fa-paper-plane")
                        div(class="media-body wow fadeIn" data-wow-delay="0.3s")
                            h3.media-heading Leading Consultants
                            p Our consultants are industry leaders in their fields.

                div(class="col-md-4 col-sm-4")
                    div.media
                        div(class="media-object media-left wow fadeIn" data-wow-delay="0.9s")
                            i(class="fa fa-paper-plane")
                        div(class="media-body wow fadeIn" data-wow-delay="0.6s")
                            h3.media-heading Secure
                            p Keep your data and client information secure.

                div(class="col-md-4 col-sm-4")
                    div.media
                        div(class="media-object media-left wow fadeIn" data-wow-delay="0.4s")
                            i(class="fa fa-paper-plane")
                        div(class="media-body wow fadeIn" data-wow-delay="0.3s")
                            h3.media-heading Quick Support
                            p Log a support ticket 24 hours a day through our portal.

                div(class="col-md-4 col-sm-4")
                    div.media
                        div(class="media-object media-left wow fadeIn" data-wow-delay="0.8s")
                            i(class="fa fa-paper-plane")
                        div(class="media-body wow fadeIn" data-wow-delay="0.6s")
                            h3.media-heading Future Proof
                            p We don't design for the now, we design for the when.