block header
    include includes/header
block body
    include includes/navbar

    section(id="home", class="text-centre")
        div.container
            h2 Oops, something went wrong
            p Please Contact us to see if we can help



block footer
    include includes/modals
    include includes/footer
    include includes/scripts
