block header
    include includes/header
block body
    include includes/navbar

    section(id="home", class="text-centre")
        div.container
            h2 Thank you for your purchase!!
            p we will touch base soon to schedule a consultancy session.



block footer
    include includes/modals
    include includes/footer
    include includes/scripts


    
    
    
    
    
    
    
    
    